:root {
    --tiles-per-row: 4;
}

#tilesContainer {
    display: flex;
    flex-wrap: wrap;
}

input, form {
    display: block;
}

.tile {
    height: 50px;
    width: calc( (100% - 200px )/ var(--tiles-per-row) );
    background-color: rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

    display: flex;
}

.bar {
    height: 50px;
    width: calc(100% - (200px/var(--tiles-per-row)));
    margin: 10px;
    padding: 10px;

    border-radius: 10px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

    display: block;
}

.bar h1 {
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.bar p {
    font-size: 15px;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: -8px;
}


@keyframes fade {
    from {
        background-color: rgba(0, 0, 0, 0.4);
    }
    to {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.fadeout {
    animation: fade 2s;
}

.clicked {
    background-color: rgba(0, 0, 0, 0.4);
}

.hidden {
    display: none;
}
