:root {
    --tiles-per-row: 4;
}

header {
    text-align: center;
    margin: 20px;
}

h2 {
    text-align: center;
}

button, #submit {
    padding: 10px 20px;
    margin: 10px;
    background-color: #cbd9f5;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: calc(100% - 10px);
}

input[type="text"] {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: block;
    width: 90%;
}

input[type="number"] {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: block;
    width: 90%;
}

.formCol {
    flex: 1;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
} 

.rightCol {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.leftCol, form {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
}

#tilesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    height: 50px;
    width: calc( (100% - 200px )/ var(--tiles-per-row) );
    background-color: rgb(180, 180, 180);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

    text-align: center;
    color: black;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

    display: flex;
}

.bar {
    height: 50px;
    width: calc(100% - (200px/var(--tiles-per-row)));
    margin: 10px;
    padding: 10px;

    border-radius: 10px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

    display: block;
}

.bar h1 {
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.bar p {
    font-size: 15px;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: -8px;
}


@keyframes fade {
    from {
        filter: brightness(85%);
    }
    to {
        filter: brightness(100%);
    }
}

.fadeout {
    animation: fade 2s;
}

.clicked {
    /* background-color: rgba(0, 0, 0, 0.4); */
    /* opacity: 0.4; */
    filter: brightness(85%);
}

.hidden {
    display: none;
}

